:root {
	--text-size: 1rem;
	/*14px;*/
	--link-size: 1.14285714286rem;
	/*16px;*/
	--small-size: 0.85714285714rem;
	/*12px;*/
	--main-green-color: #34E491;
	--main-gray-color: #0E0E0E;
	--main-white-color: #fff;

	--sub-green-color: #00AD84;
}

* {
	font-family: Raleway;
	font-size: var(--text-size);
}

html {
	scroll-behavior: smooth;
}

body {
	background: #292929;
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
	font-style: normal;
	color: #F2F2F2;
}

a {
	color: #F2F2F2;
}

a:hover {
	opacity: 0.9;
}

.container {
	padding: 0 15px;
}

@media (min-width: 480px) {
	.container {
		max-width: 480px;
		margin: 0 auto;
	}
}

@media (min-width: 576px) {
	.container {
		max-width: 480px;
		padding: 0;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 576px;
	}
}

@media (min-width: 1000px) {
	.container {
		max-width: 768px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1000px;
	}
}